.text{
  color: white;
  font-family: cursive;
  font-size: 12px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
}
.point{
  position: absolute;
  height: auto;
  width: 10%;
  float: left;
  margin-right: 2%;
}
img.x{
  width: 100%;
  height: auto;
  opacity: 0;
}
img.home{
  opacity: 100%;
}
